---
# Use a comment to ensure Jekyll reads the file to be transformed into CSS later
# only main files contain this front matter, not partials.
---

//
//                        ___
//                       /\_ \
//  _____     ___     ___\//\ \      __
// /\ '__`\  / __`\  / __`\\ \ \   /'__`\
// \ \ \_\ \/\ \_\ \/\ \_\ \\_\ \_/\  __/
//  \ \ ,__/\ \____/\ \____//\____\ \____\
//   \ \ \/  \/___/  \/___/ \/____/\/____/
//    \ \_\
//     \/_/
//
// Designed, built, and released under MIT license by @mdo. Learn more at
// https://github.com/poole/poole.

@import "variables";
@import "base";
@import "type";
@import "syntax";
@import "code";
@import "layout";
@import "masthead";
@import "posts";
@import "pagination";
@import "message";

details {
    padding: 0em .5em 0;
    font-size: 0.85em;
    background-color: #f2f2f2;
    border-radius: 10px;
}
