<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <center>
        <h3 class="masthead-title">
          <small><a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a></small>
        {% for page in site.pages_list %}
          &nbsp;&nbsp;&nbsp;
          <small><a href="{{ page[1]  }}">{{ page[0] }}</a></small>

        {% endfor %}

      </h3>
    </center>
  </header>



      <main>
        {{ content }}
      </main>

<!--
      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>
-->

    {% if site.analytics_id %}
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', '{{ site.analytics_id }}', 'auto');
       ga('send', 'pageview');
     </script>
    {% endif %}

  </body>


</html>
